$table-bg: #fff;
$table-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$table-secondary: #eeeeee;

$page-pd: 32px 64px;

$breakpoint-md: 768px;

$alive-status: #56f000;
$dead-status: #ff3838;
$unknown-status: #ffa500;
