$table-bg: #fff;
$table-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$table-secondary: #eeeeee;

$page-pd: 32px 64px;

$breakpoint-md: 768px;
$breakpoint-lg: 1180px;
$breakpoint-xl: 1300px;

$alive-status: #56f000;
$dead-status: #ff3838;
$unknown-status: #ffa500;

$button-primary: #008cba;
$button-primary-hover: #006799;

$font-contrast: #fff;

$card-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
