@import 'styles/variables.scss';

.container {
  position: relative;
  display: flex;
  align-items: center;

  .input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    min-width: 350px;
    border-radius: 2;
    border: none;
    border-bottom: 1px solid #b8b8b8;
    &:focus {
      outline: none;
    }
  }

  .iconButton {
    position: absolute;
    right: 0;
  }
}

@media (max-width: $breakpoint-md) {
  .input {
    min-width: 95%;
  }
}
